/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIÁVEIS (cores) */
:root {
  --bg: #0f172a;          /* fundo azul escuro */
  --card: #1e293b;        /* cards */
  --primary: #7c3aed;     /* roxo */
  --secondary: #38bdf8;   /* azul claro */
  --text: #e2e8f0;        /* texto */
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
  padding: 20px;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  color: var(--primary);
}

header p {
  color: var(--secondary);
}

/* NAV */
nav {
  margin-top: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--text);
  transition: 0.3s;
}

nav a:hover {
  color: var(--primary);
}

/* SEÇÕES */
section {
  background: var(--card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-left: 4px solid var(--primary);
}

/* TITULOS */
h2 {
  margin-bottom: 10px;
  color: var(--secondary);
}

/* LISTA */
ul {
  margin-left: 20px;
}

/* IMAGENS */
img {
  width: 100%;
  max-width: 250px;
  margin: 10px 5px;
  border-radius: 8px;
}

/* VIDEO */
iframe {
  margin-top: 10px;
  border-radius: 8px;
}

/* LINKS */
a {
  color: var(--secondary);
}

a:hover {
  color: var(--primary);
}

/* FOOTER */
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #94a3b8;
}
